<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <style>
        .wallpaper {
            position:absolute;
            width: 200%;
            height: 2000px;
            z-index:-9999;
        }
        .wallpaper:before {
            content:''; display:flex;width: 100%;height: 100%;background: url(https://raw.github.com/peterwestendorp/shelves/master/images/white_wall.png);
        }
        .imgFont {
                   font-size:12px;
                   font-weight:bold; text-align:center;
                }
         @media only screen and (max-width:767px) {
            .imgFont {
                font-size:10px;
            }
        }

         @media only screen and (max-width:558px) {
            .imgFont {
                font-size:12px;
            }
        }

    </style>
</head>
<body>
    <div class="wallpaper">
    </div>
    
    <div class="container">
        <div style="text-align:right">
            <a href="/#/login" style="color:#808080; z-index:99999" class="btn btn-default">Logout</a>
        </div>
        <div style="padding-top:100px;">
            <nav class="navbar navbar-light" style="border:1px solid #808080; background:#fff; flex-wrap:nowrap !important;"><h6><a style="color:#000000" href="/#/main">lbums </a> / <span style="color:#808080">Shared Albums</span></h6>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" ng-model="searchAlbums" placeholder="Search here..." aria-label="Search">
                </form>
            </nav>
        </div>


        <div class="row" style="padding-top:5%"><div class="col-sm-3 hoverCon" ng-repeat="a in albumList | filter:searchAlbums" title="click image to view option" ng-click="viewButton(a)">
                <div class="form-group">
                    <div style="border:1px solid #ced4da; border-radius:3%; text-align:center; padding-bottom:3%">
                        <div style="position:relative">
                            <div class="buttonContainer"></div>
                            <div id="{{'hover' + a.id}}" class="btncontainer" style="position:absolute; text-align:center">
                                <div>
                                    <button class="btnoption" ng-click="gotoimages(a.id,a.fName,'na')"><span>View</span></button>
                                    <button class="btnoption" ng-click="ediModal(a)"><span>edit</span></button>
                                    <button class="btnoption" ng-click="deleteImage(a)"><span>delete</span></button>
                                </div>

                            </div>
                            <img src="Images/folder.png" class="col-sm-12" style="cursor:pointer"/>
                            <span class="imgFont">{{a.fName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="wines detail" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <form ng-submit="shareImages()">
                    <div class="modal-header">
                        <span style="color:#495057; font-weight:bold; font-family:sans-serif;">
                            Add Folder
                        </span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <input type="email" name="email" class="form-control form-group" ng-model="share.sharedTo" placeholder="Email Address" style="width:100%" />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" ng-disabled="sharLoader">
                            Share
                            <span ng-if="sharLoader" class="spinner">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </span>
                        </button>
                        <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="addAlbum" tabindex="-1" role="dialog" aria-labelledby="wines detail" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <form ng-submit="createAlbumFolder()">
                    <div class="modal-header">
                        <span style="color:#495057; font-weight:bold; font-family:sans-serif;">
                            {{isAdd ? 'Add Album': 'Edit Album'}}
                        </span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control form-group" ng-model="album.fName" placeholder="Folder Name" style="width:100%" />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" ng-disabled="AlbumLoader">
                            Save
                            <span ng-if="AlbumLoader" class="spinner">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </span>
                        </button>
                        <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>